<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] OnlineST</title>
    <link href="~/lib/bootstrap-5.0.0-beta1-dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OnlineST</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContainer">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContainer">
                <div class="navbar-nav">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-controller="RegisterProducts" asp-action="Index">Cadastrar produtos</a>
                    <a class="nav-link" href="#">Produtos</a>
                    <a class="nav-link" href="#">Carrinho de compras</a>
                    <a class="nav-link" href="#">conteúdo4</a>
                    <a class="nav-link" href="#">conteúdo5</a>

                    @{
                        //TODO: essa view layout não atualiza quando ocorrem requisições pelo site, e se ela não atualiza
                        //não tem como não mostrar o menu de criar conta/login, pensar o que fazer para esconder
                        //essa opção do menu quando existir uma sessão(isso vai provavelmente ser assunto para o signalR)
                            <a  class="nav-link" asp-controller="Account" asp-action="Index">Conta</a>
                    }
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()
</body>
</html>

<script type="text/javascript" src="~/lib/bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script>


