<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineST</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap-5.0.0-beta1-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<script type="text/javascript" src="~/lib/bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script>

