
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link href="~/css/ProductsStyle.css" rel="stylesheet" />

@model IEnumerable<OnlineST.Models.Product>

<div class="d-flex flex-row flex-wrap margin5px">
    @foreach (Product product in Model)
    {
        <div class="border border-2 card-product margin5px">
            @*produtos*@
            <img class="spacing img" src="#" />
            <div class="container">

                <label class="spacing row center">Panela@*@product.Name*@</label>
                <label class="spacing row">R$50,00@*@product.Price*@</label>
                <div class="spacing row overflow-auto cardContent">
                    <label>Panela para se fazer comida@*@product.Description*@Panela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comidaPanela para se fazer comida</label>
                </div>
            </div>
        </div>
    }

    @*botão de adicionar novo produto*@
    @*centralizar o botão(e remover a borda da div depois)*@
    <div class="container margin10px   border border-5 border-dark">

        <a asp-controller="RegisterProducts" asp-action="Create"
           class=" newProductButton">
            Novo Produto
        </a>
    </div>
</div>


