
@{
    ViewData["Title"] = "UserPainel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OnlineST.Models.ViewModel.PainelViewModel

@using OnlineST.Models.ViewModel;

<div class="h-100">

    <div class="form h-100" 
         style="border-left:none;border-bottom:none">

    </div>
</div>

