.card-product {
    border-color: rgb(9, 172, 195) !important;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.17);
}


div.card-product {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.cardContent {
    height: 200px;
}

img.img {
    height: 200px;
    margin:5px;
}
