.card-product {
    border-color: rgb(9, 172, 195) !important;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.17);
}

.margin5px {
    margin: 5px;
}

.margin10px {
    margin: 10px;
}

div.card-product {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.spacing {
    margin: 2px;
}

.center {
    align-self: center;
    text-align: center;
}

.end {
    align-self: end;
}

.newProductButton {
    text-decoration: none;
    background-color: rgb(68, 186, 255);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 2px;
    color: aliceblue;
    font-size: 12px;
   
    padding: 5px;
}

    .newProductButton:hover {
        background-color: rgb(111, 202, 255);
        color: aliceblue;
        cursor:context-menu;
    }

    .cardContent{
        height:150px;
    }

    img.img{
        height:150px;
    }
