.card-product {
    border-color: rgb(9, 172, 195) !important;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.17);
}

.margin5px {
    margin: 5px;
}

.margin10px {
    margin: 10px;
}

div.card-product {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cardContent {
    height: 150px;
}

img.img {
    height: 150px;
}
