.border-primary {
    border-color: lawngreen !important;
    -webkit-border-radius: 20px;
    border-width: 10px !important;
}

#MainContainer {
    height: 100% !important;
    width: 100% !important;
}

html, body {
    height: 100%;
    width: 100%;
}

a.nav-link:focus {
    outline: 0;
}

.FontIcon {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.button {
    text-decoration: none;
    background-color: rgb(68, 186, 255);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 10px;
    color: aliceblue;
    font-size: 12px;
    padding: 5px;
}

    .button:hover,
    .button:focus {
        background-color: rgb(111, 202, 255);
        color: aliceblue;
        cursor: context-menu;
    }


.spacing {
    margin: 2px;
}

.center {
    align-self: center;
    text-align: center;
}

.end {
    align-self: end;
}

input[type=text],
textarea {
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    border: solid rgb(99, 197, 255) 1px;
}

    input[type=text]:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0px 0px 5px rgb(68, 146, 255);
    }
