.border-primary {
    border-color: lawngreen !important;
    -webkit-border-radius: 20px;
    border-width: 10px !important;
    
}

#MainContainer {
    height: 100% !important;
    width: 100% !important;
}

html,body{
    height:100%;
    width:100%;
}

a.nav-link:focus{
    outline: 0;
}

.FontIcon{
    cursor:pointer;
    text-decoration:none;
    color:black;
}

.ConfirmationButton {
    text-decoration: none;
    background-color: rgb(68, 186, 255);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 2px;
    color: aliceblue;
    font-size: 12px;
    padding: 5px;
}

    .ConfirmationButton:hover {
        background-color: rgb(111, 202, 255);
        color: aliceblue;
        cursor: context-menu;
    }


.spacing {
    margin: 2px;
}

.center {
    align-self: center;
    text-align: center;
}

.end {
    align-self: end;
}
