@{
    Layout = "_layout";
}

<link href="~/css/CreateProductStyle.css"
      rel="stylesheet" />

@model OnlineST.Models.ViewModel.ProductViewModel;

<div class="d-flex justify-content-center align-items-center flex-column h-100" style="outline:solid red 5px;">
    <form class="align-self-center" method="post" enctype="multipart/form-data">
        <div class="form d-flex flex-column">
            <h1 class="m-4">Novo produto</h1>


            @if (TempData[nameof( ViewData.ModelState.ErrorCount)] != null
                && (int)TempData[nameof(ViewData.ModelState.ErrorCount)] > 0)
            {
                <div class="alert alert-danger border-danger center">
                    <span>Todos os campos precisam ser preenchidos</span>
                </div>
            }

            <div class="fixedFlexColumn">
                <a class="button buttonSmall end" onclick="ClickInputFile()">Enviar imagem</a>
                <div class="d-inline-flex overflow-auto  spanContent">
                    <span id="FileName"></span>
                </div>
                <input id="InputFile" type="file" asp-for="FormImage" accept=".png, .jpg"
                       onchange="UploadImage()" />
            </div>

            <input class="m-2" type="text" placeholder="Nome" asp-for="Name" />
            <input class="m-2" type="text" placeholder="Preço" asp-for="Price" />
            <textarea class="m-2" style="resize:none" placeholder="Descrição" asp-for="Description"></textarea>

            <button class="button" type="submit" asp-controller="Products" asp-action="Register">Registrar</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/site.js"></script>